//- Useful block card
mixin useful-card(data)
  .col-6.col-md-3
    .useful__item
      img.useful__item-img(src='./img/' + data.image alt="")
      .useful__item-info
        .useful__item-title!=data.title
        .useful__item-date!=data.date
        .useful__item-text!=data.text
      a.useful__item-link(href="#") read more

//- Offer block card
mixin offer-card(data)
  .offer__item
    .offer__item-wrap
      img.offer__item-icon(src='./img/offer/' + data.icon alt="")
      img.offer__item-icon--white(src='./img/offer/' + data.iconwhite alt="")
      .offer__item-info
        .offer__item-title!=data.title
        .offer__item-text!=data.text

//- School-life block card
mixin school-life-card(data)
  .school-life__item
    img.school-life__item-img(src='./img/' + data.image alt="")
    .school-life__item-info
      .school-life__item-title!=data.title
      .school-life__item-date!=data.date
      .school-life__item-text!=data.text
    a.school-life__item-link(href="#") read more

//- Mass media card
mixin mass-media-card(data)
  .mass-media__item
    .mass-media__item-source!=data.source
    .mass-media__item-date!=data.date
    a.mass-media__item-title(href="#", target="_blank", rel="nofollow")!=data.title

//- Environment card
mixin environment-card(data)
  .col-6.col-md-4
    .environment__item
      .environment__item-info
        .environment__item-icon
          img(src='./img/' + data.icon alt="")
        .environment__item-title!=data.title

//- Environment card 2 col
mixin environment-card-col-6(data)
  .col-6
    .environment__item
      .environment__item-info
        .environment__item-icon
          img(src='./img/' + data.icon alt="")
        .environment__item-title!=data.title

//- Хлебные крошки
mixin breadcrumb(levels)
  nav.breadcrumbs(aria-label="breadcrumb")
    .container
      ul.breadcrumb(vocab="https://schema.org/" typeof="BreadcrumbList")

        each item, index in levels
          - var count = index+1
          - var name = item[0]
          - var link = item[1] || null

          li.breadcrumb__item(property="itemListElement" typeof="ListItem")
            if link
              a(href=link property="item" typeof="WebPage")
                span(property="name") #{name}
                meta(property="position" content!=count)
            else
              span(property="name") #{name}

            if count < levels.length
              i.fa.fa-angle-right(aria-hidden="true")

//- Карточка в списке
mixin card(data)
  .col-6.col-md-4
    .card
      .card__img
        img(src='./img/' + data.img alt="")
      .card__wrap
        .card__info
          .card__title!=data.title
          .card__date!=data.date
          .card__text!=data.text
        a.card__link(href="#") читать подробнее

//- Карточка стоимости обучения
mixin tuition-card(data)
  .col-md-6.col-lg-4
    .tuition__card
      .tuition__card-wrap
        .tuition__card-info
          .tuition__card-name!=data.name
          .tuition__card-age!=data.age
          .tuition__card-cost!=data.cost
        a.tuition__card-link.btn(href="#") Читать далее

mixin tuition-card-block(data)
  .tuition__card-block__item
    .tuition__card-block__item-icon
      img(src='./img/tuition/' + data.icon alt="")
    .tuition__card-block__item-text!=data.text

//- Карточка команды кампуса
mixin team-card(data)
  .swiper-slide
    .team__card
      .team__card-photo
        img(src='./img/team/' + data.photo alt="")
      .team__card-name!=data.name
      .team__card-position!=data.position

//- Карточка команды кампуса
mixin feedback-card(data)
  .swiper-slide
    .feedback__card
      .feedback__card-photo
        img(src='./img/team/' + data.photo alt="")
      .feedback__card-info
        .feedback__card-text!=data.text
        .feedback__card-name!=data.name
        .feedback__card-student!=data.student
        .feedback__card-campus!=data.campus
        a.feedback__card-link(href="#") read more

//- Home post
mixin post-card(data)
  .posts__item(data-aos="fade-up" data-aos-delay!=data.delay data-aos-duration="1000")
    .posts__item-overlay
    img.posts__item-image(src='./img/' + data.image alt="")
    .posts__item-info
      a.posts__item-title(href="#" data-aos="fade-up" data-aos-duration="2000")!=data.title
      .posts__item-text(data-aos="fade-up" data-aos-delay="4000" data-aos-duration="2500")!=data.text

//- Home post
mixin campuses-card(data)
  .campuses__item(data-aos!=data.aos data-aos-delay!=data.delay data-aos-duration!=data.duration)
    .campuses__item-overlay
    img.campuses__item-image(src='./img/' + data.image alt="")
    .campuses__item-info
      .campuses__item-city(data-aos="fade-up" data-aos-duration="2000")!=data.city
      .campuses__item-title(data-aos="fade-up" data-aos-delay="2000" data-aos-duration="2000")!=data.title
    .campuses__item-link__wrap
      a.campuses__item-link.btn(href="#" data-aos="flip-down" data-aos-delay="2000" data-aos-duration="1000") Читать далее
