//- Useful block card
mixin useful-card(data)
  .useful__item
    img.useful__item-img(src='./img/' + data.image alt="")
    .useful__item-info
      .useful__item-title!=data.title
      .useful__item-date!=data.date
      .useful__item-text!=data.text
    a.useful__item-link(href="#") read more

//- Offer block card
mixin offer-card(data)
  .offer__item
    .offer__item-wrap
      img.offer__item-icon(src='./img/offer/' + data.icon alt="")
      .offer__item-info
        .offer__item-title!=data.title
        .offer__item-text!=data.text

//- School-life block card
mixin school-life-card(data)
  .school-life__item
    img.school-life__item-img(src='./img/' + data.image alt="")
    .school-life__item-info
      .school-life__item-title!=data.title
      .school-life__item-date!=data.date
      .school-life__item-text!=data.text
    a.school-life__item-link(href="#") read more

//- Mass media card
mixin mass-media-card(data)
  .mass-media__item
    .mass-media__item-source!=data.source
    .mass-media__item-date!=data.date
    a.mass-media__item-title(href="#", target="_blank", rel="nofollow")!=data.title

//- Environment card
mixin environment-card(data)
  .environment__item
    .environment__item-info
      .environment__item-icon
        img(src='./img/' + data.icon alt="")
      .environment__item-title!=data.title

mixin breadcrumb(levels)
  nav.breadcrumbs(aria-label="breadcrumb")
    .container
      ul.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")

        each item, index in levels
          - var count = index+1
          - var name = item[0]
          - var link = item[1] || null

          li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            if link
              a(href=link aria-level!=count)
                span(itemprop="name") #{name}
            else
              span(itemprop="name") #{name}

            if count < levels.length
              i.fa.fa-angle-right(aria-hidden="true")
